.flex {
    display: flex;
}

.calendar-detail{
    &-wrap{
        margin-top:1rem;
    }

    &-todo{
        vertical-align: middle;
        position: relative;
        top: 5px;

        &-wrap{
            padding-top: 4rem;
        }

        &-inner{
            margin-bottom:1rem;
        }
    }

    &-day{
        text-align:center;
        font-size:1.3rem;
    }

}

.todo{

    &-add-button{
        text-align: center;
        margin-top:2rem;

        button{
            background:#d32f26;
            color:white;
            border-radius: 4px;
            padding: 10px 20px;
            margin: 0;
            border: none;
            cursor: pointer;
            width:100%;
        }
    }

    &-input {
        margin-top:4rem;
        font-size:1rem;
        box-sizing: border-box;
        width: 100%;
        padding: 0.7em;
        letter-spacing: 1px;
        border: 1px solid #dadce0;
        border-radius: 4px;
    }

}


.done-button{
    color: #d32f26;
    font-size: 26px;
    padding: 0;
    background: transparent;
    border:none;
}


.back-button {
    font-size: 25px;
    background: transparent;
    border:none;
    padding:0px;
    position: relative;
    top: -3px;
    color:gray;

    &-wrap{
        position: fixed;
        z-index: 5;
    }
}

  

  